---
interface Props {
  selectedPlanetName: string,
  planetName: string,
  selectedPlanetPageLink: string
}

const {
  selectedPlanetName,
  planetName,
  planetPageLink
} = Astro.props;
---
<a href={planetPageLink} class="no-underline">{planetName}</a>
