---
import Fact from './Fact.astro';

interface Facts {
  factLabel: string,
  factValue: string
}
interface Props {
  facts: Facts[],
  selectedPlanetName: string
}

const { facts, selectedPlanetName } = Astro.props;
---
<section class="w-full grid grid-cols-1 grid-rows-4 gap-0.5
           md:grid-cols-4 md:grid-rows-1 md:gap-1.25
           lg:gap-2">
  {
    facts.map((fact) =>
      <Fact factLabel={fact.factLabel} factValue={fact.factValue} selectedPlanetName={selectedPlanetName}/>
    )
  }
</section>
