---
export interface Props {
  cssClass: string,
  selectedPlanetName: string,
  selectedSectionContent: string,
  selectedSectionWikiLink: string
}

const { cssClass, selectedPlanetName, selectedSectionContent, selectedSectionWikiLink } = Astro.props;

---
<div class={`${cssClass} text-center md:text-left`}>
  <h1 class="font-h1 text-h1 uppercase mb-1 md:mb-1.5 lg:mb-2">{selectedPlanetName}</h1>
  <p class="font-body text-body mb-1.5 md:mb-2">{selectedSectionContent}</p>
  <p class="font-body text-body text-primary-contrast/50 flex flex-row items-center justify-center md:justify-start gap-0.5"><span>Source :</span><a class="font-bold underline" href={selectedSectionWikiLink} target="_blank">Wikipedia</a><img class="w-0.75 h-0.75" alt="Wikipedia - external link" aria-hidden="true" src="/images/icon-source.svg"/></p>
</div>
